# Rust
/target/
Cargo.lock

# Python
.venv/
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
.pytest_cache/
.benchmark/

# maturin / build output
*.whl

# mkdocs generated site
/site/

# Profiling output
perf.data
flamegraph.svg

# Editor
.idea/
.vscode/
*.swp
*.swo
